<span class="roles_form">
  <div class="row text-center">
    <% Landing.roles.each do |role| %>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
          <%= link_to landings_path(landing,  landing: { role: role }), method: :post, remote: true, class:'landing-select' do %>
              <%= image_tag "roles/#{role.downcase}.png", class: 'visible-lg visible-md' %>
              <%= image_tag "roles_small/#{role.downcase}.png", class: 'visible-xs visible-s' %>
              <h5 class='visible-lg visible-md'><%= role.capitalize %></h5>
              <h6 class='visible-xs visible-s'><%= role.capitalize %></h6>
          <% end %>
        </div>
    <% end %>
  </div>
</span>