<span class="skills_form">
    <div class="row text-center">
      <%= simple_form_for landing, remote: true do |f| %>
          <%= f.collection_check_boxes(:skills, Landing.skills, :downcase, :capitalize, boolean_style: :inline, item_wrapper_tag: :div, item_wrapper_class: 'square-select col-xs-4 col-sm-4 col-md-4 col-lg-4') do |b| %>
              <%= b.label for: nil do %>
                  <%= b.check_box %>
                  <div>
                    <div class="visible-lg visible-md">
                      <%= image_tag "landing_skills/#{b.text.downcase}.png" %>
                      <h5><%= b.text %></h5>
                    </div>
                    <div class="visible-sm visible-xs">
                      <%= image_tag "landing_skills_small/#{b.text.downcase}.png" %>
                      <h6><%= b.text %></h6>
                    </div>
                  </div>
              <% end %>
          <% end %>
          <div class="col-lg-12">
            <%= f.button :submit, 'Done', class: 'btn btn-lg btn-success full-width' %>
          </div>
      <% end %>
    </div>
</span>