<div class="row profile">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'users/details.html.erb', user: user %>
      </div>
      <div class="col-lg-6">
        <%= render 'shared/availability.html.erb', user: user %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <h3>Skills</h3>
      </div>
      <% user.skills.each do |skill|%>
          <div class="col-lg-6 table-vertical-center skill-block">
            <%= render 'users/skill.html.erb', skill: skill %>
          </div>
      <% end %>
      <div class="col-lg-6 table-vertical-center skill-block">
        <%= render 'users/new_skill.html.erb' %>
      </div>
    </div>
  </div>
  <% if user == current_user %>
      <div class="col-lg-12 col-md-12 hours">
        <h3>Availability</h3>
        <% (user.hours + [Hour.new]).each do |hour| %>
            <%= render 'shared/hour_form.html.erb', hour: hour %>
        <% end %>
      </div>
      <div class="col-lg-12">
        <h3>Location</h3>
        <%= render 'users/location_form.html.erb', location: user.location ? user.location : Location.new %>
      </div>
  <% end %>
</div>