<%= simple_form_for [@user, hour], remote: true, html: { 'data-type': :json } do |f| %>
    <div class="row">
      <div class="col-lg-4">
        <%= f.input :day, collection: [['Sunday',0],['Monday',1],['Tuesday',2],['Wednesday',3],['Thursday',4],['Friday',5],['Saturday',6]], label_method: :first, value_method: :last, prompt: 'Day of the week', input_html: { 'hour-id': hour.id } %>
      </div>
      <div class="col-lg-3">
        <%= f.input :open_time, as: :time_picker, 'hour-id': hour.id %>
      </div>
      <div class="col-lg-3">
        <%= f.input :close_time, as: :time_picker, 'hour-id': hour.id %>
      </div>
      <div class="col-lg-2">
        <label>
          Action
        </label>
        <div>
          <% if hour.persisted? %>
              <%= link_to 'Delete', [@user, hour], method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger delete-hour', 'hour-id': hour.id %>
          <% else %>
              <%= f.button :submit, 'Add', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
