<div class="welcome-carousel">
  <div class="welcome-carousel-slide-0">
    <div class="content">
      <h1>Pash</h1>
      <h3>Go out and learn</h3>
      <%= simple_form_for Landing.new, remote: true, html: { 'data-type': :json } do |f| %>
          <%= f.input :email, as: :landing_email, label: false, input_html: { placeholder: 'Type your email...'} %>
      <% end %>
    </div>
  </div>
  <div class="welcome-carousel-slide-1">
    <div class="content">
      <h1>What do you associate with?</h1>
      <div class="row text-center">
        <%= simple_form_for Landing.new, remote: true, html: { 'data-type': :json } do |f| %>
            <%= f.collection_check_boxes(:roles, Landing.roles, :downcase, :capitalize, item_wrapper_tag: :div, item_wrapper_class: 'col-lg-6 square-select') do |b| %>
                <% b.label do |l| %>
                    <%= b.check_box %>
                    <div>
                      <div>
                        <%= image_tag "roles/#{b.text.downcase}.png" %>
                        <h3><%= b.text %></h3>
                      </div>
                    </div>
                <% end %>
            <% end %>
            <%= f.button :submit, 'Next', class: 'btn btn-lg btn-success full-width' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="welcome-carousel-slide-2">
    <div class="content">
      <h1>What skills interest you?</h1>
      <div class="row text-center">
        <%= simple_form_for Landing.new, remote: true, html: { 'data-type': :json } do |f| %>
            <%= f.collection_check_boxes(:skills, Landing.skills, :downcase, :capitalize, item_wrapper_tag: :div, item_wrapper_class: 'col-lg-4 square-select') do |b| %>
                <% b.label do |l| %>
                    <%= b.check_box %>
                    <div>
                      <div>
                        <%= image_tag "landing_skills/#{b.text.downcase}.png" %>
                        <h5><%= b.text %></h5>
                      </div>
                    </div>
                <% end %>
            <% end %>
            <%= f.button :submit, 'Done', class: 'btn btn-lg btn-success full-width' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row team-bio">
    <h1>The Team</h1>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="team-bio-image-wrapper">
        <%= image_tag('team/ollie.jpg', class: 'img-circle') %>
        <span class="team-bio-image-description">
          <span>
            <span>
              <p>
                “Live as if you were to die tomorrow. Learn as if you were to live forever.”
              </p>
              <p>
                ― Mahatma Gandhi
              </p>
            </span>
          </span>
        </span>
      </div>
      <h3>Ollie Wolfond</h3>
      <h5>Director of Apparel</h5>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="team-bio-image-wrapper">
        <%= image_tag('team/ranesh.jpg', class: 'img-circle') %>
        <span class="team-bio-image-description">
          <span>
            <span>
              <p>
                “Any fool can know. The point is to understand.”
              </p>
              <p>
                ― Albert Einstein
              </p>
            </span>
          </span>
        </span>
      </div>
      <h3>Ranesh Saha</h3>
      <h5>Unpaid Engineering Intern</h5>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="team-bio-image-wrapper">
        <%= image_tag('team/charlie.jpg', class: 'img-circle') %>
        <span class="team-bio-image-description">
          <span>
            <span>
              <p>
                “Share your knowledge. It is a way to achieve immortality.”
              </p>
              <p>
                ― Dalai Lama XIV
              </p>
            </span>
          </span>
        </span>
      </div>
      <h3>Charlie Shi</h3>
      <h5>Secret Agent</h5>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="team-bio-image-wrapper">
        <%= image_tag('team/alex.jpg', class: 'img-circle') %>
        <span class="team-bio-image-description">
          <span>
            <span>
              <p>
                “We learn from failure, not from success!”
              </p>
              <p>
                ― Bram Stoker
              </p>
            </span>
          </span>
        </span>
      </div>
      <h3>Alex Chua</h3>
      <h5>Import Piggybacker</h5>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="team-bio-image-wrapper">
        <%= image_tag('team/ali.jpg', class: 'img-circle') %>
        <span class="team-bio-image-description">
          <span>
            <span>
              <p>
                “Education is the kindling of a flame, not the filling of a vessel.”
              </p>
              <p>
                ― Socrates
              </p>
            </span>
          </span>
        </span>
      </div>
      <h3>Ali Parker</h3>
      <h5>Bathtub Surprise</h5>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="team-bio-image-wrapper">
        <%= image_tag('team/byron.jpg', class: 'img-circle') %>
        <span class="team-bio-image-description">
          <span>
            <span>
              <p>
                “In learning you will teach, and in teaching you will learn.”
              </p>
              <p>
                ― Phil Collins
              </p>
            </span>
          </span>
        </span>
      </div>
      <h3>Byron Duenas</h3>
      <h5>Chief Technical Officer</h5>
    </div>
  </div>
</div>