<div class="container-fluid container-fluid-top">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <%= yield %>
    </div>
    <div class="col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="<%= 'active' if current_page?(skills_path) %>">
          <%= link_to 'Explore', skills_path, class: 'h3' %>
        </li>
        <li class="<%= 'active' if current_page?(requests_path) %>">
          <%= link_to 'Requests', requests_path, class: 'h3' %>
        </li>
        <li class="<%= 'active' if current_page?(requests_path) %>">
          <%= link_to 'My Profile', user_path(current_user), class: 'h3' %>
        </li>
      </ul>
    </div>
  </div>
</div>